body{
	font-size: 12px;
    padding-left: 30px;
	background: url(/img/bg.png);
}
th span {
	text-decoration: none; 
	border-bottom: 1px dotted blue;
	color: blue !important;
	cursor: n-resize
}
img{
    float: left;
    padding-right: 10px;
}
.tsk{

    width:640px;
}

.tsk div{

    color:#0000ff;
    cursor:pointer;
}

#preview_btn{
   height:30px;
   width:30px;
   background: url(/img/preview.png);
   position:absolute;
   margin-top:-55px;
   margin-left:90;
   cursor:pointer;
}

#preview_close{
   display:none;
   margin-left:50px;
   cursor:pointer;
}

#load_ok{
   display:none;
   color:#0000ff;
   margin-left:100px;
}

#load_no{
   display:none;
   color:#ff0000;
   margin-left:100px;
}